.login_head{
  text-align:center;
  padding:50px 0px 0px 0px;
  font-size:35px;
  color:white
}
.forms {
  width: 750px;
  height:430px;
  border:#222525 solid;
  align-content:center;
  color:rgb(255, 255, 255);
  border-radius:18px;
  background-image:linear-gradient(rgba(90, 88, 88, 0.7),rgba(150, 145, 145, 0.7));

}
.gmail{
  font-size:23px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login_container{
background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url("login_background2.jpg");
width:100vw;
height:100vh;
}
.login_container font{
  color:white;
}
.login_password,.login_email{
  margin:10px 0;
  width:60%;
  height:45px;
  border-radius:14px;
  display:inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding:0px 0px 0px 15px;
  background-color:rgb(196, 214, 233);
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  -ms-border-radius:14px;
  -o-border-radius:14px;
}
.youare{
  font-size:20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top:20px;
  word-spacing: 3px;
}
.login_b{
  margin:30px 0px 30px 0px;
  font-size:20px;
  height:40px;
  width:150px;
  border-radius:12px;
  background-color:rgb(7, 210, 224);
  cursor:pointer;
  box-shadow: 0x 2px 20px rgba(31, 58, 114, 0.418);
  transition:transform.3s;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  -ms-border-radius:12px;
  -o-border-radius:12px;
  -webkit-transition:transform.3s;
  -moz-transition:transform.3s;
  -ms-transition:transform.3s;
  -o-transition:transform.3s;
}
.login_b:hover{
/* background-color:rgb(92, 123, 158);
color:rgb(0, 0, 0);
box-shadow:0 12px 16px 0 rgb(55, 105, 182) */
background-color: #03e9f4;
color: #050801;
box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}
.Role{
margin:20px 0px 0px 10px;
font-size:18px;
border-radius:5px;;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
}
.cna,.forgot{
color:rgb(36, 161, 211);

}
